BODY H1
{
	font-family: cursive;
	color: #BD2BDF;
	/*+text-shadow:1px 2px #0F0C0C;*/
	-moz-text-shadow: 1px 2px #0F0C0C;
	-webkit-text-shadow: 1px 2px #0F0C0C;
	-o-text-shadow: 1px 2px #0F0C0C;
	text-shadow: 1px 2px #0F0C0C;
}
BODY
{
	background-color: #6D6262;
}
